<div id="diagram-space" class="sb-mobile-diagram">
  <div>
    <input id="openKEML" type="file" class="file-upload" style="display: none" (change)="loadKeml($event)">
    <mat-toolbar>
      <button (click)="newConversation()">New</button>
      <button (click)="openKeml()">Open KEML</button>
      <button (click)="saveKeml()">Save KEML</button>
      <button (click)="saveSVG()">Save SVG</button>
    </mat-toolbar>
    <input id="title" type="text" [(ngModel)]="conversation.title" >
    <div style="width: 1500px; height: 1000px; overflow: auto;">
      <svg #svg id="svg" style="border: 1px solid black;" width="1500" height="2000" overflow="scroll">
        <g transform="translate(750,0)">
          <g authorG [author]="conversation.author"></g>
          <g cp *ngFor="let convP of conversation.conversationPartners" [conversationPartner]="convP"></g>
          <g msgG *ngFor="let m of conversation.author.messages" [msg]="m"></g>
        </g>
     </svg>
    </div>
    <svg>
      <rect x="0" y="0" width="100" height="100" [attr.fill]="fillColor" (click)="changeColor()" />
    </svg>
  </div>
</div>
