<p>editor works!</p>
<div id="diagram-space" class="sb-mobile-diagram">
  <div class="content-wrapper">
    <ejs-diagram id="diagram" width="100%" height="580px">
      <e-nodes>
        <e-node id='Test' [height]=60 [offsetX]=300 [offsetY]=80 [shape]='terminator' [style]="style">
          <e-node-annotations>
            <e-node-annotation content='Test'>
            </e-node-annotation>
          </e-node-annotations>
        </e-node>
        <e-node id='Test2' [height]=60 [offsetX]=-300 [offsetY]=-80 [shape]='preKnowledge'>
          <e-node-annotations>
            <e-node-annotation content='Test2'>
            </e-node-annotation>
          </e-node-annotations>
        </e-node>
      </e-nodes>
    </ejs-diagram>
  </div>
</div>
