<div class="editor" id="editor">
  <div class="file-handling">
    <input id="openKEML" type="file" class="file-upload" style="display: none" (change)="loadKeml($event)">
    <mat-toolbar class="file-level-bar">
      <button class="file-level-button" (click)="newConversation()">
        <mat-icon aria-hidden="false" fontIcon="insert_drive_file" ></mat-icon>
        New
      </button>
      <button class="file-level-button" (click)="openKeml()">
        <mat-icon aria-hidden="false" fontIcon="file_upload" ></mat-icon>
        Open KEML
      </button>
      <button class="file-level-button" (click)="saveKeml()">
        <mat-icon aria-hidden="false" fontIcon="file_download" ></mat-icon>
        Save KEML
      </button>
      <button class="file-level-button" (click)="saveSVG()">
        <mat-icon aria-hidden="false" fontIcon="photo_library" ></mat-icon>
        Save SVG
      </button>
    </mat-toolbar>
  </div>
  <div class="editor-panel">
      <div class="edit-tools">
        <p style="color: orange">
          <mat-icon aria-hidden="true" fontIcon="add"></mat-icon>
          Add
        </p>
        <button class="tool-button" title="Add conversation partner" (click)="addConversationPartner()">
          <svg width="3rem" height="3rem">
            <g person transform="translate(-12, -15) scale(0.5, 0.5) "></g>
          </svg>
        </button>
        <button class="tool-button">h</button>
        <button class="tool-button">h</button>
        <button class="tool-button">h</button>
        <button class="tool-button">h</button>
      </div>
      <div style="width: 1500px; height: 1000px; overflow: auto;">
        <svg #svg id="svg" style="border: 1px solid black;" width="1500" height="2000" overflow="scroll">
          <g transform="translate(750,0)">
            <foreignObject height="20" width="600">
              <input id="title" type="text" [(ngModel)]="conversation.title" >
            </foreignObject>
            <g authorG [author]="conversation.author"></g>
            <g cp *ngFor="let convP of conversation.conversationPartners" [conversationPartner]="convP"></g>
            <g msgG *ngFor="let m of conversation.author.messages" [msg]="m"></g>
          </g>
        </svg>
      </div>
  </div>
</div>
