<h2>Message Details</h2>

<div class="msg-form">
  <label class="form-label">Conversation Partner</label>
  <select [(ngModel)]="msg.counterPart">
    <option *ngFor="let cp of cps" [ngValue]="cp">{{cp.name}}</option>
  </select>

  <label class="form-label">Message Content</label>
  <textarea type="text" [(ngModel)]="msg.content"></textarea>

  <label class="form-label">Original (long) content</label>
  <textarea type="text" [(ngModel)]="msg.originalContent"></textarea>

  <label class="form-label">Timing</label>
  <div class="timing">
    <button class="tool-button" title="Move up"
            (click)="moveUp()"
            [disabled]="kemlService.disableMoveUp(msg)">
      <mat-icon aria-hidden="false" fontIcon="arrow_back"></mat-icon>
    </button>
    <label>{{msg.timing}}</label>
    <button class="tool-button" title="Move down" (click)="moveDown()" [disabled]="kemlService.disableMoveDown(msg)">
      <mat-icon aria-hidden="false" fontIcon="arrow_forward"></mat-icon>
    </button>
    <input type="number" (change)="handleTimingChange()" [(ngModel)]="changedTiming" />
  </div>

  <label *ngIf="receiveMsg" class="form-label">Generated information</label>
  <div class="row" *ngIf="receiveMsg">
    <div class="column">
      <button class="tool-button-text" (click)="addNewInfo()">
        Create info
      </button>
    </div>
    <div class="column">
      <svg width="200" height="80" *ngFor="let info of receiveMsg.generates" (click)="chooseInfo(info)">
        <g info-inner [info]="info">
        </g>
      </svg>
    </div>
  </div>

  <label *ngIf="receiveMsg" class="form-label">Repeated information</label>
  <div class="row" *ngIf="receiveMsg">
    <div class="column">
      <info-choice (infoChange)="repeatAnInfo($event)" [showInfo]="false">
      </info-choice>
    </div>
    <div class="column">
      <svg width="200" height="100" *ngFor="let info of receiveMsg.repeats">
        <g info-inner [info]="info"  (click)="chooseInfo(info)">
        </g>
        <foreignObject height="20" width="20" x="100" y="80" (click)="kemlService.deleteRepetition(receiveMsg, info)">
          <mat-icon fontIcon="delete" style="color: orange" [matTooltip]="'Delete repetition'"></mat-icon>
        </foreignObject>
      </svg>
    </div>
  </div>

  <label *ngIf="sendMsg" class="form-label">Used information</label>
  <div class="row" *ngIf="sendMsg">
    <div class="column">
      <info-choice (infoChange)="kemlService.addUsage(sendMsg, $event)" [showInfo]="false">
      </info-choice>
    </div>
    <div class="column">
      <svg width="200" height="100" *ngFor="let info of sendMsg.uses">
        <g info-inner [info]="info"  (click)="chooseInfo(info)">
        </g>
        <foreignObject height="20" width="20" x="100" y="80" (click)="kemlService.deleteUsage(sendMsg, info)">
          <mat-icon fontIcon="delete" style="color: orange" [matTooltip]="'Delete usage'"></mat-icon>
        </foreignObject>
      </svg>
    </div>
  </div>
</div>

<div class="row">
  <button class="tool-button-text" (click)="closeMe()">
    <mat-icon aria-hidden="false" fontIcon="check"></mat-icon>
    Ok
  </button>
  <button class="tool-button-text" (click)="duplicateMe()">
    <mat-icon aria-hidden="false" fontIcon="note-add"></mat-icon>
    Duplicate
  </button>
  <button class="tool-button-text" (click)="deleteMe()">
    <mat-icon aria-hidden="false" fontIcon="delete"></mat-icon>
    Delete
  </button>
</div>
