<input
  type="range"
  min="-1" max="1"
  step="0.1"
  [ngModel]="trust"
  (ngModelChange)="changeT($event)"
  [ngClass]="{'nactive': trust == undefined}"
/>

<input #trustafter=ngModel
       type="number"
       name="trustNumeric" min="-1" max="1"
       [ngModel]="trust"
       (ngModelChange)="changeT($event)"
>
<div *ngIf="trustafter.invalid" class="row alert">
  <div *ngIf="trustafter.errors?.['min']">
    Trust must be between -1 and 1. It is currently below -1.
  </div>
  <div *ngIf="trustafter.errors?.['max']">
    Trust must be between -1 and 1. It is currently above 1.
  </div>
</div>

