<button (click)="openChoice()">
  Choose
</button>

<ng-template #chooseinfo>
  <div style="width: 1500px; height: 1000px; overflow: auto;">
    <svg id="svg" style="border: 1px solid black;" width="750" height="2000" overflow="scroll">
      <g transform="translate(750,0)">
        <g msgG *ngFor="let m of receives" [msg]="m" (chooseInfo)="choose($event)"></g>
        <g preknowG *ngFor="let pre of preknowledges" [info]="pre" (click)="choose(pre)"></g>
      </g>
    </svg>
  </div>
</ng-template>
