<h2>Information Link Details</h2>

<div class="info-form">

  <label class="form-label">Source</label>
  <info-choice [(info)]="infoLink.source"></info-choice>


  <label class="form-label">Target</label>
  <info-choice [(info)]="infoLink.target"></info-choice>

  <label class="form-label">Type</label>
  <select [(ngModel)]="infoLink.type">
    <option *ngFor="let type of Object.values(InformationLinkType)" [ngValue]="type">{{type}}</option>
  </select>

  <label class="form-label">Text</label>
  <textarea type="text" [(ngModel)]="infoLink.linkText"></textarea>


</div>

<div class="row">
  <button class="tool-button-text" (click)="closeMe()">
    <mat-icon aria-hidden="false" fontIcon="check"></mat-icon>
    Ok
  </button>
  <button class="tool-button-text" (click)="duplicateMe()">
    <mat-icon aria-hidden="false" fontIcon="note-add"></mat-icon>
    Duplicate
  </button>
  <button class="tool-button-text" (click)="deleteMe()">
    <mat-icon aria-hidden="false" fontIcon="delete"></mat-icon>
    Delete
  </button>
</div>


