.file-level-button{
  text-align: center;
  color: orange;
  margin-right: 1rem;
  border: 2px solid orange;
  border-radius: 8px;
  background-color: antiquewhite;
}
.file-level-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.mat-icon{
  color: orange;
  background: transparent;
}

.file-level-button:disabled,
.file-level-button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  .svg-dis{
    stroke: #666666;
  }
  .mat-icon{
    color: #666666;
    background: transparent;
  }
}
