div.info-form {
  display:grid;
  grid-template-columns: max-content max-content;
  grid-gap:1rem;
  margin: 1rem;
}
form-label { text-align:right; }
form-label:after { content: ":"; }

.alert {
  font-size: 0.5rem;
  text-align: left;
  color: red;
}

.tool-button{
  margin: 1rem;
  text-align: center;
  color: orange;
  height: 3rem;
  width: 3rem;
  background: white;
  border: 2px solid orange;
  border-radius: 4px;
}
.tool-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.tool-button:disabled,
.tool-button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.tool-button:disabled,
.tool-button[disabled]:hover{
  box-shadow: none;
}

.tool-button-text{
  margin: 1rem;
  text-align: center;
  vertical-align: middle;
  color: orange;
  height: 3rem;
  width: 6rem;
  background: white;
  border: 2px solid orange;
  border-radius: 4px;
}
.tool-button-text:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.tool-button-text:disabled,
.tool-button-text[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
