file-level-bar{
  background-color: antiquewhite;
}
.file-level-button{
  text-align: center;
  color: orange;
  margin-right: 1rem;
  border: 2px solid orange;
  border-radius: 8px;
  background-color: antiquewhite;
}
.file-level-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.file-level-button:disabled,
.file-level-button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  .svg-dis{
    stroke: #666666;
  }
  .mat-icon{
    color: #666666;
    background: transparent;
  }
}

.mat-icon{
  color: orange;
  background: transparent;
}



.close-button{
  text-align: center;
  align-items: center;
  color: orange;
  margin: 1rem;
  height: 3rem;
  width: 3rem;
  background: white;
  border: 2px solid orange;
  border-radius: 4px;
  .svg-dis{
    stroke: orange;
  }
  align-self: end;
}


h1 {
  font-size: 3.125rem;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0.03, rgb(250,3,3)),
    color-stop(0.52, rgb(240,255,127)),
    color-stop(0.76, rgb(42,24,173))
  );;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.125rem;
  margin: 0;
  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
}
