@mixin hovering {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

@mixin disable {
  cursor: not-allowed;
  border-color: #999999;
  background-color: #cccccc;
  color: #666666;
}
