@use "functions" as f;

$bright-blue: oklch(51.01% 0.274 263.83);
$bright-blue-dark: oklch(45.91% 0.274 263.83);

$electric-violet: oklch(53.18% 0.28 296.97);
$electric-violet-dark: oklch(47.86% 0.28 296.97);

$french-violet: oklch(47.66% 0.246 305.88);
$french-violet-dark: oklch(42.89% 0.246 305.88);

$vivid-pink: oklch(69.02% 0.277 332.77);
$vivid-pink-dark: oklch(62.12% 0.277 332.77);

$hot-red: oklch(61.42% 0.238 15.34);
$hot-red-dark: oklch(55.28% 0.238 15.34);

$orange-red: oklch(63.32% 0.24 31.68);
$orange-red-dark: oklch(60.99% 0.24 31.68);

$bright-orange: oklch(70% 0.1825 58.76);
$bright-orange-dark: oklch(63% 0.1825 58.76);

$orange-yellow: oklch(81.33% 0.1554 68.29);
$orange-yellow-dark: oklch(73.20% 0.1554 68.29);

$opace-orange: oklch(90% 0.1225 58.76);
$opace-orange-dark: oklch(86% 0.1225 58.76);

$bright-yellow: oklch(89.26% 0.1603 89.76);
$bright-yellow-dark: oklch(80.33% 0.1603 89.76);


$red-to-green-horizontal-gradient: f.horizontal-gradient(
#ff0000,
#ffff00,
#00ff00
)


