@use 'variables' as v;

:root {
  --bright-blue: #{v.$bright-blue};
  --electric-violet: #{v.$electric-violet};
  --hot-red: #{v.$hot-red};
  --bright-yellow: #{v.$bright-yellow};
}

[data-theme="dark"] {
  --bright-blue: oklch(70% 0.2 263.83);
  --electric-violet: oklch(65% 0.25 296.97);
  --hot-red: oklch(55% 0.22 15.34);
  --bright-yellow: oklch(80% 0.15 89.76);
}
