@use 'variables' as v;
@use "functions" as f;


// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$kemlgui-primary: mat.m2-define-palette(mat.$m2-orange-palette);
$kemlgui-accent: mat.m2-define-palette(mat.$m2-red-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$kemlgui-warn: mat.m2-define-palette(mat.$m2-red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$kemlgui-theme: mat.m2-define-light-theme((
        color: (
                primary: $kemlgui-primary,
                accent: $kemlgui-accent,
                warn: $kemlgui-warn,
        ),
        typography: mat.m2-define-typography-config(),
        density: 0
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($kemlgui-theme);

:root {
  --hot-red: #{v.$hot-red};
  --orange-red: #{v.$orange-red};
  --bright-orange: #{v.$bright-orange};
  --orange-yellow: #{v.$orange-yellow};
  --opaque-orange: #{v.$opace-orange};
  --orange-white: #{v.$orange-white};
  --antique-white: #{v.$antique-white};
  --bright-yellow: #{v.$bright-yellow};
  --color-bg: #ffffff;
  --color-text: #111111;

  // just depending on css, hence no need to re-define in dark:
  --red-to-orange-vertical-gradient: #{f.vertical-gradient(
                          var(--orange-red),
                          var(--bright-orange),
                          var(--orange-yellow),
                 )};
  --red-to-orange-horizontal-gradient: #{f.horizontal-gradient(
                  var(--orange-red),
                  var(--bright-orange),
                  var(--orange-yellow),
          )};
  // todo no theme changes but also computation about it
  --red-to-green-horizontal-gradient: #{v.$red-to-green-horizontal-gradient};

  --font-family: "Inter", system-ui, sans-serif;
}

[data-theme="dark"] {
  --hot-red: #{v.$hot-red-dark};
  --orange-red: #{v.$orange-red-dark};
  --bright-orange: #{v.$bright-orange-dark};
  --orange-yellow: #{v.$orange-yellow-dark};
  --opaque-orange: #{v.$opace-orange-dark};
  --orange-white: #{v.$orange-white-dark};
  --antique-white: #{v.$antique-white-dark};
  --bright-yellow: #{v.$bright-yellow-dark};
  --color-bg: #2b1d17;
  --color-text: #e5e5e5;
}
