@use 'variables' as v;
@use "functions" as f;

:root {
  --bright-blue: #{v.$bright-blue};
  --electric-violet: #{v.$electric-violet};
  --hot-red: #{v.$hot-red};
  --orange-red: #{v.$orange-red};
  --bright-orange: #{v.$bright-orange};
  --orange-yellow: #{v.$orange-yellow};
  --opaque-orange: #{v.$opace-orange};
  --bright-yellow: #{v.$bright-yellow};
  --color-bg: #ffffff;
  --color-text: #111111;

  // just depending on css, hence no need to re-define in dark:
  --red-to-orange-vertical-gradient: #{f.vertical-gradient(
                          var(--orange-red),
                          var(--bright-orange),
                          var(--orange-yellow),
                 )};
  --red-to-orange-horizontal-gradient: #{f.horizontal-gradient(
                  var(--orange-red),
                  var(--bright-orange),
                  var(--orange-yellow),
          )};
  // todo no theme changes but also computation about it
  --red-to-green-horizontal-gradient: #{v.$red-to-green-horizontal-gradient};

  --font-family: "Inter", system-ui, sans-serif;
}

[data-theme="dark"] {
  --bright-blue: #{v.$bright-blue-dark};
  --electric-violet: #{v.$electric-violet-dark};
  --hot-red: #{v.$hot-red-dark};
  --orange-red: #{v.$orange-red-dark};
  --bright-orange: #{v.$bright-orange-dark};
  --orange-yellow: #{v.$orange-yellow-dark};
  --opaque-orange: #{v.$opace-orange-dark};
  --bright-yellow: #{v.$bright-yellow-dark};
  --color-bg: #2b1d17;
  --color-text: #e5e5e5;
}
