@use 'variables' as v;
@use "functions" as f;

:root {
  --bright-blue: #{v.$bright-blue};
  --electric-violet: #{v.$electric-violet};
  --hot-red: #{v.$hot-red};
  --orange-red: #{v.$orange-red};
  --bright-orange: #{v.$bright-orange};
  --orange-yellow: #{v.$orange-yellow};
  --opaque-orange: #{v.$opace-orange};
  --bright-yellow: #{v.$bright-yellow};

  // just depending on css, hence no need to re-define in dark:
  --red-to-orange-vertical-gradient: #{f.vertical-gradient(
                          var(--orange-red),
                          var(--bright-orange),
                          var(--orange-yellow),
                 )};
  --red-to-orange-horizontal-gradient: #{f.horizontal-gradient(
                  var(--orange-red),
                  var(--bright-orange),
                  var(--orange-yellow),
          )};
  // todo no theme changes but also computation about it
  --red-to-green-horizontal-gradient: #{v.$red-to-green-horizontal-gradient};
}

[data-theme="dark"] {
  --bright-blue: oklch(70% 0.2 263.83);
  --electric-violet: oklch(65% 0.25 296.97);
  --hot-red: oklch(55% 0.22 15.34);
  --bright-yellow: oklch(80% 0.15 89.76);
}
