@use "mixins" as mixin;

.file-level-button{
  text-align: center;
  color: var(--bright-orange);
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  border: 2px solid var(--bright-orange);
  border-radius: 8px;
  background-color: transparent;
}
.file-level-button:enabled:hover {
    @include mixin.hovering();
}

.file-level-button:disabled,
.file-level-button[disabled] {
  @include  mixin.disable();
}

