@use "mixins" as mixin;

.file-level-button{
  text-align: center;
  color: var(--bright-orange);
  margin-right: 1rem;
  border: 2px solid var(--bright-orange);
  border-radius: 8px;
  background-color: transparent;
}
.file-level-button:hover {
  @include mixin.hovering();
}

.file-level-button mat-icon{
  color: var(--bright-orange);
  background: transparent;
}
