.file-level-button{
  text-align: center;
  color: var(--bright-orange);
  margin-right: 1rem;
  border: 2px solid var(--bright-orange);
  border-radius: 8px;
  background-color: transparent;
}
.file-level-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.file-level-button mat-icon{
  color: var(--bright-orange);
  background: transparent;
}
