<h2 style="align-self: center">Information Details</h2>

<div class="info-form">
  <label class="form-label">Text</label>
  <textarea type="text" style="height: 5rem; width: 15rem" [(ngModel)]="info.message"></textarea>

  <label class="form-label">Is Instruction</label>
  <svg width="40" height="60">
    <g is-instr [info]="info" [w]="40" [h]="60"></g>
    <!--todo currently we use 40 and 60 both on svg and inner element - mangae connection? -->
  </svg>

  <label class="form-label">Position</label>
  <div class="row">
    <div class="column">
      <span>x:</span>
      <input type="number" name="x" min="-500" [attr.max]="400-200" [(ngModel)]="info.position.x">
    </div>

    <div class="column">
      <span>y:</span>
      <input type="number" name="y" min="0" [attr.max]="1000" [(ngModel)]="info.position.y">
    </div>
  </div>

  <label class="form-label">Felt Trust AFTER Conversation</label>
  <div class="row">
    <div class="column">
      <input #trustafter=ngModel type="number" name="feltTrustAfterwards" min="-1" max="1" [(ngModel)]="info.feltTrustAfterwards">
      <div *ngIf="trustafter.invalid" class="row alert">
        <div *ngIf="trustafter.errors?.['min']">
          Trust must be between -1 and 1. It is currently below -1.
        </div>
        <div *ngIf="trustafter.errors?.['max']">
          Trust must be between -1 and 1. It is currently above 1.
        </div>
      </div>
    </div>
  </div>

  <label class="form-label" *ngIf="newInfo">Source</label>
  <msg-choice *ngIf="newInfo" [receiveMsg]="newInfo.source" (receiveMsgChange)="changeSource($event)"></msg-choice>

  <label class="form-label" >Information Links</label>
  <div class="row">
    <div class="column">
      <button (click)="createLink(info)">
        Create Link
      </button>
    </div>
    <div class="column">
      <svg width="200" height="100" *ngFor="let link of info.causes">
        <g info-inner [info]="link.target" (click)="clickLink(link)">
        </g>
        <g arrow-svg
          [start]="{x: 97.5, y: 80, w: 5, h: 5}"
           [end]="{x: 97.5, y: 60, w: 5, h: 5}"
           [arrowType]="link.type"
        >
        </g>
      </svg>
    </div>
  </div>

  <label class="form-label" >Repeated By</label>
  <div class="row">
    <div class="column">
      <msg-choice [isSend]="false" [showMsg]="false" (receiveMsgChange)="modelIOService.addRepetition($event, info)">
      </msg-choice>
    </div>
    <div class="column">
      <svg width="350" height="80" *ngFor="let msg of info.repeatedBy">
        <g msg-overview [msg]="msg" (click)="clickMsg(msg)">
        </g>
        <foreignObject height="20" width="20" x="100" y="60" (click)="modelIOService.deleteRepetition(msg, info)">
          <mat-icon fontIcon="delete" style="color: orange" [matTooltip]="'Delete repetition'"></mat-icon>
        </foreignObject>
      </svg>
    </div>
  </div>

  <label class="form-label" >Used On</label>
  <div class="row">
    <div class="column">
      <msg-choice [isSend]="true" [showMsg]="false" (sendMsgChange)="modelIOService.addUsage($event, info)">
      </msg-choice>
    </div>
    <div class="column">
      <svg width="350" height="80" *ngFor="let msg of info.isUsedOn">
        <g msg-overview [msg]="msg" (click)="clickMsg(msg)">
        </g>
        <foreignObject height="20" width="20" x="100" y="60" (click)="modelIOService.deleteUsage(msg, info)">
          <mat-icon fontIcon="delete" style="color: orange" [matTooltip]="'Delete usage'"></mat-icon>
        </foreignObject>
      </svg>
    </div>
  </div>

</div>

<div class="row">
  <button class="tool-button-text" (click)="closeMe()">
    <mat-icon aria-hidden="false" fontIcon="check"></mat-icon>
    Ok
  </button>
  <button class="tool-button-text" (click)="duplicateMe()">
    <mat-icon aria-hidden="false" fontIcon="note-add"></mat-icon>
    Duplicate
  </button>
  <button class="tool-button-text" (click)="deleteMe()">
    <mat-icon aria-hidden="false" fontIcon="delete"></mat-icon>
    Delete
  </button>
</div>

