.headline-with-icon {
  display: inline-flex;
  align-items: center; /* vertically centers image with text */
  gap: 0.5rem;         /* spacing between icon and text */
  img {
    height: 1em;         /* match the text height */
    width: auto;         /* keep aspect ratio */
  }
}

main {
  height: 100%;
  width: 100%;
  position: relative;
}

.content {
  /* Main view to the right of global sidebar */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 125px;               /* same as global-left-bar width */
  right: 0;
}

.divider {
  width: 1px;
  background: var(--red-to-orange-vertical-gradient);
  margin-inline: 0.5rem;
}

.pill-group {
  width: 120px;              /* or any fixed width */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: var(--antique-white);
  border-right: 1px solid var(--orange-red);
  overflow: auto;           /* optional */
}

.pill {
  display: flex;
  align-items: center;
  --pill-accent: var(--hot-red);
  background: color-mix(in srgb, var(--pill-accent) 5%, transparent);
  color: var(--pill-accent);
  padding-inline: 0.75rem;
  padding-block: 0.375rem;
  border-radius: 2.75rem;
  border: 0;
  transition: background 0.3s ease;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4rem;
  letter-spacing: -0.00875rem;
  text-decoration: none;
}

.pill:hover {
  background: color-mix(in srgb, var(--pill-accent) 15%, transparent);
}

.pill-group .pill:nth-child(6n + 1) {
  --pill-accent: var(--orange-red);
}
.pill-group .pill:nth-child(6n + 2),
.pill-group .pill:nth-child(6n + 3) {
  --pill-accent: var(--bright-orange);
}
.pill-group .pill:nth-child(6n + 4),
.pill-group .pill:nth-child(6n + 5) {
  --pill-accent: var(--orange-yellow);
}
.pill-group .pill:nth-child(6n + 6) {
  --pill-accent: var(--bright-yellow);
}

.pill svg {
  height: 1em;
  width: auto;
  fill: currentColor;
}

@media screen and (max-width: 650px) {
  .main {
    flex-direction: column;
    width: max-content;
  }

  .content {
    order: 1;
  }

  .divider {
    order: 2;
    height: 1px;
    width: 100%;
    background: var(--red-to-orange-horizontal-gradient);
    margin-block: 1.5rem;
  }

  .pill-group{
    order: 3;
    margin-top: 0;
  }
}
