.headline-with-icon {
  display: flex;
  align-items: center; /* vertically centers image with text */
  gap: 0.5rem;         /* spacing between icon and text */
  img {
    height: 1em;         /* match the text height */
    width: auto;         /* keep aspect ratio */
    display: block;
  }
}

.headline-with-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.toggle-aside {
  background: var(--antique-white);
  border: 1px solid var(--orange-white);
  border-radius: 5px;
  text-align: center;
  color: var(--bright-orange);
  position: relative;
  z-index: 0;
  isolation: isolate;
}

h1 {
  font-size: 3.125rem;
  background-image: var(--red-to-orange-horizontal-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.125rem;
  margin: 0;
}

footer{
  font-size: small;
}

main {
  height: 100%;
  width: 100%;
  position: relative;
}

.content {
  /* Main view to the right of global sidebar */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 121px;               /* same as global-left-bar width +1px for border */
  &[asideHidden="true"] {
    left: 0;
  };
  right: 0;
}

.divider {
  width: 1px;
  background: var(--red-to-orange-vertical-gradient);
  margin-inline: 0.5rem;
}

.pill-group {
  width: 120px;              /* or any fixed width */
  max-width: 120px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: var(--antique-white);
  border-right: 1px solid var(--hot-red);
  overflow: auto;           /* optional */

  h3 {
    text-align: center;
    color: var(--hot-red);
  }
}

.pill {
  display: flex;
  align-items: center;
  --pill-accent: var(--hot-red);
  background: color-mix(in srgb, var(--pill-accent) 8%, transparent);
  color: var(--pill-accent);
  padding-inline: 0.75rem;
  padding-block: 0.375rem;
  border-radius: 2.75rem;
  border: 0;
  transition: background 0.3s ease;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4rem;
  letter-spacing: -0.00875rem;
  text-decoration: none;
}

.pill:hover {
  background: color-mix(in srgb, var(--pill-accent) 15%, transparent);
}

.pill-group .pill:nth-child(6n+2) {
  --pill-accent: var(--orange-red);
}
.pill-group .pill:nth-child(6n+3),
.pill-group .pill:nth-child(6n + 4) {
  --pill-accent: var(--bright-orange);
}
.pill-group .pill:nth-child(6n + 5),
.pill-group .pill:nth-child(6n + 6) {
  --pill-accent: var(--orange-yellow);
}
.pill-group .pill:nth-child(6n + 7) {
  --pill-accent: var(--bright-yellow);
}

.pill svg {
  height: 1em;
  width: auto;
  fill: currentColor;
}

@media screen and (max-width: 650px) {
  .main {
    flex-direction: column;
    width: max-content;
  }

  .content {
    order: 1;
  }

  .divider {
    order: 2;
    height: 1px;
    width: 100%;
    background: var(--red-to-orange-horizontal-gradient);
    margin-block: 1.5rem;
  }

  .pill-group{
    order: 3;
    margin-top: 0;
  }
}
