h1 {
  font-size: 3.125rem;
  background-image: var(--red-to-orange-horizontal-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.125rem;
  margin: 0;
}

main {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: inherit;
  position: relative;
}

.content {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 3rem;
}

.content h1 {
  margin-top: 1.75rem;
}

.content p {
  margin-top: 1.5rem;
}

.right-side{
  margin-top: 8rem;
}

.divider {
  width: 1px;
  background: var(--red-to-orange-vertical-gradient);
  margin-inline: 0.5rem;
}

.pill-group {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.pill {
  display: flex;
  align-items: center;
  --pill-accent: var(--hot-red);
  background: color-mix(in srgb, var(--pill-accent) 5%, transparent);
  color: var(--pill-accent);
  padding-inline: 0.75rem;
  padding-block: 0.375rem;
  border-radius: 2.75rem;
  border: 0;
  transition: background 0.3s ease;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4rem;
  letter-spacing: -0.00875rem;
  text-decoration: none;
}

.pill:hover {
  background: color-mix(in srgb, var(--pill-accent) 15%, transparent);
}

.pill-group .pill:nth-child(6n + 1) {
  --pill-accent: var(--orange-red);
}
.pill-group .pill:nth-child(6n + 2),
.pill-group .pill:nth-child(6n + 3) {
  --pill-accent: var(--bright-orange);
}
.pill-group .pill:nth-child(6n + 4),
.pill-group .pill:nth-child(6n + 5) {
  --pill-accent: var(--orange-yellow);
}
.pill-group .pill:nth-child(6n + 6) {
  --pill-accent: var(--bright-yellow);
}

.pill-group svg {
  margin-inline-start: 0.25rem;
}


@media screen and (max-width: 650px) {
  .content {
    flex-direction: column;
    width: max-content;
  }

  .divider {
    height: 1px;
    width: 100%;
    background: var(--red-to-orange-horizontal-gradient);
    margin-block: 1.5rem;
  }
}
