h2 {
  color: var(--bright-orange);
  align-self: center;
  padding: 6px;
}

.vertical-form {
margin: 12px;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-field label {
  margin-bottom: 0.25rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--bright-orange);
}

div.defaults-inner-form {
  display:grid;
  align-items: end;
  grid-template-columns: max-content max-content;
  grid-gap:1rem;
  margin: 1rem;
}
.form-label {
  text-align:right;
  font-size: 1rem;
}
.form-label:after { content: ":"; }

.alert {
  font-size: 0.5rem;
  text-align: left;
  color: var(--hot-red);
}
