.alert {
  font-size: 1rem;
  text-align: left;
  color: red;
}

/********** Range Input Styles **********/

:host {
  --red-to-green-horizontal-gradient: linear-gradient(
    90deg,
    #ff0000 0%,
    #ffff00 50%,
    #00ff00 100%
  );
}

/*Range Reset*/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: var(--red-to-green-horizontal-gradient);
  cursor: pointer;
  width: 12rem;
}

input[type="range"].nactive {
  background: lightgray;
  cursor: default;
}

input[type="number"] {
  width: 3rem;
}
