h1 {
  text-align: center;
  padding: 16px;
}

.close-button{
  align-self: flex-end;
}

.editor-panel{
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: inherit;
  position: relative;
}
