h1 {
  text-align: center;
  padding: 16px;
}

.editor-panel{
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: inherit;
  position: relative;
}

.multi-line {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
