/* You can add global styles to this file, and also import other style files */

@use "styles/custom-theme.scss";
@use "styles/mixins" as mixins;
@import 'material-icons/iconfont/material-icons.css';

html, body { height: 100%;
  font-family: var(--font-family), sans-serif; }
body {
  margin: 0;
  background-color: var(--color-bg);
  color: var(--color-text);
}

a {
  color: var(--hot-red);
}

footer {
  margin-left: 15rem;
}


h1 {
  font-size: 3.125rem;
  background-image: var(--red-to-orange-horizontal-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.125rem;
  margin: 0;
}
