<h2>Message Details</h2>

<div class="msg-form">
  <label class="form-label">Conversation Partner</label>
  <select [(ngModel)]="msg.counterPart">
    <option *ngFor="let cp of cps" [ngValue]="cp">{{cp.name}}</option>
  </select>

  <label class="form-label">Message Content</label>
  <textarea type="text" [(ngModel)]="msg.content"></textarea>

  <label class="form-label">Original (long) content</label>
  <textarea type="text" [(ngModel)]="msg.originalContent"></textarea>

  <label class="form-label">Timing</label>
  <div class="timing">
    <button class="tool-button" title="Move up" (click)="moveUp()" [disabled]="disableMoveUp()">
      <mat-icon aria-hidden="false" fontIcon="arrow_back"></mat-icon>
    </button>
    <label>{{msg.timing}}</label>
    <button class="tool-button" title="Move down" (click)="moveDown()" [disabled]="disableMoveDown()">
      <mat-icon aria-hidden="false" fontIcon="arrow_forward"></mat-icon>
    </button>
    <input type="text" [(ngModel)]="msg.timing"/>
  </div>

  <label *ngIf="receiveMsg" class="form-label">Generated information</label>
  <div class="row" *ngIf="receiveMsg">
    <div class="column">
      <button class="tool-button-text" (click)="addNewInfo()">
        Create info
      </button>
    </div>
    <div class="column">
      <svg width="200" height="80" *ngFor="let info of receiveMsg.generates" (click)="detailsService.openInfoDetails(info)">
        <g info-inner [info]="info">
        </g>
      </svg>
    </div>
  </div>

  <label *ngIf="receiveMsg" class="form-label">Repeated information</label>
  <div class="row" *ngIf="receiveMsg">
    <div class="column">
      <info-choice (infoChange)="repeatAnInfo($event)">

      </info-choice>
    </div>
    <div class="column">
      <svg width="200" height="80" *ngFor="let info of receiveMsg.repeats" (click)="detailsService.openInfoDetails(info)">
        <g info-inner [info]="info">
        </g>
      </svg>
    </div>
  </div>
</div>

<div class="row">
  <button class="tool-button-text" (click)="closeMe()">
    <mat-icon aria-hidden="false" fontIcon="check"></mat-icon>
    Ok
  </button>
  <button class="tool-button-text" (click)="duplicateMe()">
    <mat-icon aria-hidden="false" fontIcon="note-add"></mat-icon>
    Duplicate
  </button>
  <button class="tool-button-text" (click)="deleteMe()">
    <mat-icon aria-hidden="false" fontIcon="delete"></mat-icon>
    Delete
  </button>
</div>
