
.editor-panel{
  position: absolute;
  top: 114px;                /* same as toolbar height */
  bottom: 0;
  left: 0;
  right: 0;
}

.edit-tools{
  width: 80px;              /* fixed width */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border-right: 1px solid var(--bright-orange);
  overflow: auto;
  p {
    color: var(--bright-orange);
  }
}

.tool-button{
  --accent-color: var(--bright-orange);
  text-align: center;
  align-items: center;
  color: var(--accent-color);
  margin: 1rem;
  height: 3rem;
  width: 3rem;
  background: transparent;
  border: 2px solid var(--accent-color);
  border-radius: 4px;
  svg {
    stroke: var(--accent-color);
  }
}
.tool-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


.tool-button:disabled,
.tool-button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  .svg-dis{
    stroke: #666666;
  }
  .mat-icon{
    color: #666666;
    background: transparent;
  }
}

.svg-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 80px;              /* same as drawing-tools width */
  right: 0;
  overflow: auto;           /* scroll only here */
  background: var(--color-bg);
  border: 1px solid var(--bright-orange);
}

.svg-container svg {
  display: block;
  width: auto;
  height: auto;
  max-width: none;
  max-height: none;
}
