
.editor-panel{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: inherit;
  position: relative;
}

.edit-tools{
  width: 5rem;
  height: 5rem;
  flex-direction: column;
  display: block;
}

.tool-button{
  text-align: center;
  align-items: center;
  color: orange;
  margin: 1rem;
  height: 3rem;
  width: 3rem;
  background: white;
  border: 2px solid orange;
  border-radius: 4px;
  .svg-dis{
    stroke: orange;
  }
}
.tool-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.tool-button:disabled,
.tool-button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  .svg-dis{
    stroke: #666666;
  }
  .mat-icon{
    color: #666666;
    background: transparent;
  }
}

.svg-container {
  width: 80%;
  height: 500px;
  /* OR: height: 500px; */
  overflow: auto;             /* scroll only here */
  border: 1px solid #ccc;
}

.svg-container svg {
  display: block;
  width: auto;
  height: auto;
  max-width: none;
  max-height: none;
}
