.file-level-bar{
  background-color: antiquewhite;
}
.file-level-button{
  text-align: center;
  color: orange;
  margin-right: 1rem;
  border: 2px solid orange;
  border-radius: 8px;
  background-color: antiquewhite;
}
.file-level-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.mat-icon{
  color: orange;
  background: transparent;
}

.editor-panel{
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: first;
  box-sizing: inherit;
  position: relative;
}

.edit-tools{
  width: 5rem;
  height: 5rem;
  flex-direction: column;
  display: block;
}

.tool-button{
  text-align: center;
  align-items: center;
  color: orange;
  margin: 1rem;
  height: 3rem;
  width: 3rem;
  background: white;
  border: 2px solid orange;
  border-radius: 4px;
  .svg-dis{
    stroke: orange;
  }
}
.tool-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.tool-button:disabled,
.tool-button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  .svg-dis{
    stroke: #666666;
  }
  .mat-icon{
    color: #666666;
    background: transparent;
  }
}

.filter-to-orange{
  filter: invert(73%) sepia(61%) saturate(3593%) hue-rotate(360deg) brightness(103%) contrast(104%);
}

.v-divider{
  width: 1px;              /* thin line */
  height: 20px;
  color: orangered;           /* line color */
  border: none;            /* remove default border */
  margin: 1rem;
}
