.editor {
  display: flex;
  flex-direction: column;
  flex: 1;            /* fills available space in .content */
  min-height: 0;  /* ensures internal sidebar fits */
  min-width: 0;
}

.editor-panel {
  flex: 1;            /* takes all remaining height */
  display: flex;
  min-height: 0;      /* allows children to shrink */
  min-width: 0;
}

.edit-tools{
  width: 80px;
  flex-shrink: 0;
  border-right: 1px solid var(--bright-orange);
  overflow-y: auto;
  p {
    color: var(--bright-orange);
  }
}

.tool-button{
  --accent-color: var(--bright-orange);
  text-align: center;
  align-items: center;
  color: var(--accent-color);
  margin: 1rem;
  height: 3rem;
  width: 3rem;
  background: transparent;
  border: 2px solid var(--accent-color);
  border-radius: 4px;
  svg {
    stroke: var(--accent-color);
  }
}
.tool-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


.tool-button:disabled,
.tool-button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  .svg-dis{
    stroke: #666666;
  }
  .mat-icon{
    color: #666666;
    background: transparent;
  }
}

<!-- not used -->
.svg-container {
  flex: 1;
  min-height: 0;
  min-width: 0;
  overflow: auto;
  position: relative;
  outline: 4px solid blue;
}

<!-- not used -->
.svg-container svg {
  width: max-content; height: max-content;
  overflow: visible;
  outline: 4px solid green;
}
