<div class="editor" id="editor">
  <div class="file-handling">
    <input id="openKEML" type="file" class="file-upload" style="display: none" (change)="kemlIOService.loadKEMLfromFile($event)" (click)="InputHandler.clearElem($event)">
    <input id="openChatGptConvList" type="file" class="file-upload" style="display: none" (change)="conversationPickService.startWithAllConvs($event)" (click)="InputHandler.clearElem($event)">
    <mat-toolbar class="file-level-bar">
      <button class="file-level-button" (click)="kemlService.newConversation()">
        <mat-icon aria-hidden="false" fontIcon="insert_drive_file" ></mat-icon>
        New
      </button>
      <button class="file-level-button"
              [matTooltip]="'Upload your complete conv.json'"
              (click)="newFromChatGPTList()">
        <mat-icon aria-hidden="false" fontIcon="insert_drive_file" ></mat-icon>
        From ChatGPT
      </button>
      <button class="file-level-button" (click)="openKeml()">
        <mat-icon aria-hidden="false" fontIcon="file_upload" ></mat-icon>
        Open KEML
      </button>
      <hr class="v-divider">
      <undo-redo></undo-redo>
      <hr class="v-divider">
      <button class="file-level-button" (click)="kemlIOService.saveKEML()">
        <mat-icon aria-hidden="false" fontIcon="file_download" ></mat-icon>
        Save KEML
      </button>
      <button class="file-level-button" (click)="saveSVG()">
        <mat-icon aria-hidden="false" fontIcon="photo_library" ></mat-icon>
        Save SVG
      </button>
      <button class="file-level-button" (click)="saveSVGasPNG()">
        <mat-icon aria-hidden="false" fontIcon="photo_library" ></mat-icon>
        Save PNG
      </button>
      <button class="file-level-button" (click)="saveSVGasJPEG()">
        <mat-icon aria-hidden="false" fontIcon="photo_library" ></mat-icon>
        Save JPEG
      </button>
      <hr class="v-divider">
      <button class="file-level-button" (click)="openSimulation()">
        <!--fontIcon="open_in_new" lightbulb_outline-->
        <mat-icon aria-hidden="false" fontIcon="schedule" ></mat-icon>
        Simulate Trust
      </button>
    </mat-toolbar>
  </div>
  <div class="editor-panel">
      <div class="edit-tools">
        <p style="color: orange">
          <mat-icon aria-hidden="true" fontIcon="add"></mat-icon>
          Add
        </p>
        <button class="tool-button" title="Add conversation partner" (click)="addConversationPartner()">
          <svg width="20" height="35">
            <g person [w]="20" [h]="35" [stroke]="'orange'"></g>
          </svg>
        </button>
        <button class="tool-button" title="Add send message" (click)="addMessage(true)" [disabled]="kemlService.isAddNewMessageDisabled()">
          <mat-icon aria-hidden="false" fontIcon="arrow_forward"></mat-icon>
        </button>
        <button class="tool-button" title="Add receive message" (click)="addMessage(false)" [disabled]="kemlService.isAddNewMessageDisabled()">
          <mat-icon aria-hidden="false" fontIcon="arrow_back"></mat-icon>
        </button>
        <button class="tool-button" title="Add preknowledge" (click)="addPreknowledge()">
          <svg width="32" height="24">
            <g database [w]="32" [h]="9" [fill]="'white'" [stroke]="'orange'" [strokewidth]="1.5"></g>
          </svg>
        </button>
        <button class="tool-button" title="Add new information" (click)="addNewInfo()" [disabled]="kemlService.isAddNewNewInfoDisabled()">
          <svg width="32" height="24">
            <rect class="svg-dis" width="30" height="12" x="1" y="6" stroke-width="0.8" fill="none"></rect>
            <line class="svg-dis" x1="7" x2="7" y1="6" y2="18" stroke-width="0.8"></line>
          </svg>
        </button>
        <button class="tool-button" title="Add information link" (click)="detailsService.openLinkCreationDialog()" [disabled]="kemlService.isLinkCreationDisabled()">
          Link
        </button>
      </div>
      <div style="width: 1500px; height: 1000px; overflow: auto;">
        <svg #svg id="svg" style="border: 1px solid black;" width="1500" [attr.height]="convLength" overflow="scroll">
          <g convG
             [conversation]="kemlService.conversation"
             [showInfos]="true"
             [showInfoTrusts]="false"
             [msgCount]="this.kemlService.msgCount()"
             (chooseCp)="detailsService.openConversationPartnerDetails($event)"
             (chooseMsg)="detailsService.openMessageDetails($event)"
             (chooseInfo)="detailsService.openInfoDetails($event)"
             (chooseInfoLink)="detailsService.openLinkDetails($event)"
             (conversationLength)="updateConvLength($event)"
          ></g>
        </svg>
      </div>
  </div>
</div>
